/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

header{
	
}
.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 10px;
right: 10px;
padding:10px;

z-index: 100;
display: none;
text-decoration: none;
color: #fff;
background-color: rgba(0,0,0,0.6);
}
 
 .back-to-top:hover,.btn-dark:focus,.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}

.back-to-top i {
  font-size: 60px;
}

.list-inline li {
	padding: 5px !important;
}

/* navbar styling */
.navbar{
	    color: #fff;
    background-color: rgba(0,0,0,0.6);
}
.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}
.navbar-nav  li  a {
	margin-bottom: -6px;
}
.navbar-fixed-bottom, .navbar-fixed-top {
	width: 400px;
	margin: 0 auto;
}
@media (max-width:767px){
	.navbar-fixed-bottom, .navbar-fixed-top {
	width: auto;
	}
	header{
		height: 110% !important;
	}
}

#mobilemenu{
	display: inline !important;
}
#mobilemenu .fa {
	color:#fff;
}

#mobilemenu a :hover,#mobilemenu a:focus,#mobilemenu a:active  {
	color:#000 !important;
}

.selected{
	color: black !important;
}

.center{
	text-align: center;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    font-size: 4.5em;
    font-weight: bold;
}
#technologies li {
	color:#fff;
	border-radius:5px;
	background-color: rgba(0,0,0,0.7);
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 10px;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,.btn-dark:focus,.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 10px;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,.btn-light:focus,.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/* Footer */

footer {
    padding: 100px 0;
}