/* Margin */
$center: 0 auto;

/* Font*/
$fontstack: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
$iconsize: 60px;

/* Colors */
$black06: rgba(0,0,0,0.8);
$black03: rgba(0,0,0,0.6);

/* HTML Tags */
html,body {
    width: 100%;
    height: 100%;
    font-family: $fontstack;
}

/* Header */
header {
    margin-top:-20px;
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    h1 {
        font-size: 4.5em;
        font-weight: bold;
        padding-top:100px;
    }
}

/* Footer */
footer {
    padding: 100px 0;
}

/* id selectors*/
#mobilemenu{
    display: inline;
    .fa{
        color: white;
        &:hover,&:focus,&:active{
            color:black;
        }
    }
}

#technologies {
    font-size:18px;
    li{
        color:white;
        border-radius:5px;
        background-color: $black06;
    }
}

/* class selectors*/
.back-to-top {
background: none;
margin: $center;
position: fixed;
bottom: 10px;
right: 10px;
padding:10px;
z-index: 100;
display: inline;
text-decoration: none;
color:white;
background-color: $black06;
    &:hover,&:focus,&:active {
        color:white;
        background-color: $black03;
    }
    i {
        font-size:$iconsize
    }
}

.list-inline {
    li{
        padding: 5px;
    }
}

/* navbar styling */
.navbar{
    color:white;
    background-color: $black06 !important ;/*Over-ride bootstrap*/
    border-radius: 10px !important; /* Over-ride bootstrap*/
    .center.navbar-inner{
        text-align:center;
        .nav{
            float: none;
            display:inline-block;
        }
    }
}

.navbar-nav{
    li {
        a {
            margin-bottom: -6px;
        }
    }
}

.navbar-fixed-bottom, .navbar-fixed-top {
    width: 400px;
    margin: $center;
}

.selected{
    color:black !important;
}

.center{
    text-align: center;
    margin: $center;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    h1 {
        font-size: 4.5em;
        font-weight: bold;
        margin:0;
    }
}

/* custom buttons */

.btn-dark {
    border-radius: 10px;
    color:white;
    background-color: $black03;
        &:hover,&:focus,&:active{
            color:white !important;
            background-color: $black06;
        }
}

.btn-light {
    border-radius: 10px;
    color: #333;
    background-color: white;
        &:hover,.btn-light:focus,.btn-light:active{
            color: #333;
            background-color: rgba(255,255,255,0.8);
        }

}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color:white;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;

}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: $center;
    &:hover{
        opacity:0.8;
    }
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
    .btn{
        margin: 10px;
    }
}

/* Map */

.map {
    height: 500px;
}

/* Media queries*/
@media(max-width:767px) {
    .map {
        height: 75%;
    }
    .navbar-fixed-bottom, .navbar-fixed-top {
    width: auto;
    }
    .text-vertical-center {
        display: inline;
        h1{
            padding-top:100px;
        }
    }
}

@media(max-width:400px){
    header{
        h1 {
            padding-top:50px !important;
        }
    }
    #mobilemenu{
        li{
            figcaption{
                display:none;
            }
            a{
                i{
                    font-size:$iconsize - 20;
                }
            }
        }
    }
}

@media(max-width:324px){
    #mobilemenu{
        li{
            figcaption{
                display:none;
            }
            a{
                i{
                    font-size:$iconsize - 25;
                }
            }
        }
    }
}
