body,html{
    font-family: 'Ubuntu', sans-serif;
}
.center-text{
    text-align:center;
}
#page-container{
    display:flex;
    justify-content:center;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    /* color: #00acac; */
    border-top: 2px solid #00acac;
    border-radius: 100%; 
    width: 40%;
}
.img-wrapper{
    padding:8px; 
    overflow:hidden; 
    position:relative;
    border: 5px solid #00acac;
    border-radius: 50%;
}
.profile{
    margin-top: 20px;
}
.portrait{
    float:left;
    padding:5px;
    width:150px;
}
img{
    width:100%;
}
.pace{
    /* hides loading bar
    display:none;
    */
}
.container{
    margin-top:20px;
    text-align:center;
}
.main-title{
    margin-bottom:20px;
    font-size:5em;
    text-align:center;
}
.content-title{
    margin-bottom:20px;
    font-size:3em;
    text-align:center;
}
.horalign{
    display:inline-block;
}

a{
    font-size:14px;
    font-weight:bold;
}
p{
    font-size:15px;
}
.nav-tabs {
    border-bottom: 0px;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border-color:transparent;
    color:#00acac;
}
.nav-tabs.nav-justified>a, .nav-tabs.nav-justified>a:focus, .nav-tabs.nav-justified>a:hover, .nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
    border-color:transparent;
    background-color:transparent;
}
.nav-tabs>a + i:hover{
    color:blue;
}

.tab-pane{
    max-width:800px;
    text-align:left;
}
.tab-content{
    padding:20px;
}

#page-container{
    overflow:scroll;
}

.service.service-vertical {
    max-width: 300px;
    margin: auto;
}

@media (max-width:395px){
    .nav>li>a {
        padding: 8px 2px;
    }
}
@media (max-width:289px){
    .nav>li>a {
        padding: 8px 1px;
    }
}

@media (max-width:992px){
    .divsamerow{
        display:block !important;
    }
}
@media (min-width: 992px){
    .col-md-1point5{
        width: 12.499999995%;
    }
}